.ContainerBase {
  height: 100%;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.ContainerMain {
  background: $grayLight;
  flex: 1;
}


.ContainerMain {
  overflow: auto;
  height: 100%;
  padding-bottom: 80px;
}